body {
  font: 16px/20px Arial, Helvetica, Tahoma, Verdana, sans-serif;
  background: #ccc;
  margin: 0px;
  padding: 0px;
  height: 100%;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }
a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
  }
input[type='textfield'] {
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0px 0px 3px #ccc;
  -webkit-box-shadow: inset 0px 0px 3px #ccc;
  box-shadow: inset 0px 0px 3px #ccc;
  }

::-webkit-scrollbar {
  height: 8px;
  width: 10px;
  background: #fff;
  }
::-webkit-scrollbar:hover {
  background: #fff;
  }
::-webkit-scrollbar-thumb {
  background: #ccc;
  }
::-webkit-scrollbar-thumb:hover {
  background: #444;
  }
::-webkit-scrollbar-thumb:vertical    { height: 25px; }
::-webkit-scrollbar-thumb:horizontal  { width: 25px;  }

/*-----------------------------------
  About Section
-------------------------------------*/
.about {
  position: fixed;
  top:0px;
  padding-left: 10px;
  bottom:0px;
  width:270px;
  margin-left: 0px;
  background:#EDEEE8;
  padding:0px 0px 40px 0px;
  border-right:2px solid #ccc;
  z-index:1;
  overflow: hidden;
  opacity: .85;
  }
.interventions {
  position: fixed;
  bottom: 10px;
  left: 0px;
  height: 210px;
  width: 260px!important;
  text-align: left;
  padding-top: 0px;
  padding-left: 8px;
  font-size: 10px;
  font-weight: 700;
  color: #444;
  opacity: 1!important;
  background: #EDEEE8;
  border-left: 2px solid #ccc;
  }

/*-----------------------------------
  Map
-------------------------------------*/
#map {
  background: #e1ecee;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  }

/*Zoom controls*/
.zoomer {
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  right: 10px;
  top: 80px;
  width: 28px;
  height: 28px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  }
.zoomin {
  background-position: -31px -1px;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  }
.zoomout {
  top: 109px;
  background-position: -61px -1px;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  }
.zoomer:active {
  margin-top: 1px;
  border-color: #bbb;
  background-color: #ddd;
  box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
  -moz-box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
  -webkit-box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
  }

/**
 * Interaction
 */
.wax-tooltip {
  postition: fixed;
  max-width: 275px;
  top: 80px;
  background-color: #fff;
  right: 0px;
  box:shadow:: #999 2px 2px 5px;
  -moz-box-shadow: #999 2px 2px 5px;
  -webkit-box-shadow: #999 2px 2px 5px;
  }

/*Embed Code*/
#embed {
  position: absolute;
  width: 105px;
  height: 100px;
  z-index: 4;
  top: 185px;
  right: 70px;
  }
a.embed {
  background: #45A6CF url(../images/sprite.png) no-repeat -576px 4px;
  right: 10px;
  z-index: 4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  position: absolute;
  border: 1px solid #45A6CF;
  width: 28px;
  height: 28px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter: alpha(opacity=90);
  }
#embed.active a.embed {
  box-shadow: inset rgba(0,0,0,0.5) 0 0 8px;
  -moz-box-shadow: inset rgba(0,0,0,0.5) 0 0 8px;
  -webkit-box-shadow: inset rgba(0,0,0,0.5) 0 0 8px;
  }
.tip {
  display: none;
  position: absolute;
  width: 140px;
  left: 50%;
  margin-left: 10px;
  z-index: 4;
  bottom: 10px;
  }
.tip .inner {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  word-wrap: break-word;
  -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.10);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.10);
  }
.tip span.point {
  display: block;
  width: 13px;
  height: 43px;
  background: transparent url(sprite.png) no-repeat 0 -100px;
  z-index: 1;
  position: absolute;
  top: 78px;
  left: -10px;
  }
.tip input {
  width: 110px;
  margin-bottom: 5px;
  }